
   .home-page {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ffffff, #6dd5ed, #ffffff); 
    margin: 0;
    display: flex;
    flex-direction: column;
  }
 
  .home-page .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .home-page .navbar-brand {
    font-size: 24px;
    color: #125A66;
  }
  
  .home-page .nav-items a {
    margin: 0 15px;
    color: hsl(189, 70%, 24%);
    text-decoration: none;
  }
  
  .home-page .nav-items a:hover {
    text-decoration: underline;
  }
  
  .home-page .current-time {
    font-size: 14px;
    color: #125A66;
  }
   */
  .home-page .main-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .home-page .login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
  }
  .home-page .login-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    height: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    transition: all 0.3s ease;
  }
  
  .home-page .login-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .home-page .login-box img {
    width: 100px; 
    height: 100px; 
    margin-bottom: 20px;
  }
  
.home-page .login-info {
  text-align: center;
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 100%; 
}
.home-page .login-info h2,
.home-page .login-info p {
  margin: 10px 0; /
}


.home-page .btn.btn-primary {
  background-color: #125A66;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 200px;
  align-self: center; 
  margin-top: auto; 
}

.home-page .btn.btn-primary:hover {
  background-color: #0f4a5a;
}