.patient-details-page {
    font-family: 'Arial', sans-serif;
    background-color: #071832;
    color: white;
    min-height: 100vh;
    padding: 0; /* Padding set to 0 */
}

.patient-details-page .navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.patient-details-page .patient-details-container {
    text-align: center;
    margin-top: 50px; /* Adjusted for a slightly higher position */
}

.patient-details-page .patient-details-title {
    color: #FFF;
    margin: 20px 0; /* Reduced top margin */
}

.patient-details-page .patient-details-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.patient-details-page .patient-details-option-box {
    background-color: white;
    color: #017832;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    width: 300px; /* Fixed width for a uniform look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.patient-details-page .patient-details-option-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.patient-details-page .patient-details-option-box h2 {
    margin-top: 0;
    color: #071832;
}

.patient-details-page .patient-details-option-box p {
    color: #555;
}

@media (max-width: 900px) {
    .patient-details-page .patient-details-options {
        justify-content: center;
    }

    .patient-details-page .patient-details-option-box {
        width: 100%;
        max-width: 350px;
    }
}
